
$bodyRadius: 6px;
$bodyWidth: 1200px;

@import 'styles/reset';
@import 'styles/mixins';

@import 'styles/hero';
@import 'styles/media';
@import 'styles/typography';
@import 'styles/callToAction';

* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  line-height: 1.5;

  @include fontFamily;
}

.body {
  background-color: #DDE0E5;
  padding: 20px 20px 40px;

  @include whenNarrowerThan($condensedBreakpoint) {
    padding: 0 20px 20px;
  }

  @include whenNarrowerThan($compressedBreakpoint) {
    padding: 0;
  }
}

.bodyContent {
  margin: 0 auto;
  max-width: $bodyWidth;
  background-color: #FFFFFF;
  color: #3A3A3A;
  border-bottom-left-radius: $bodyRadius;
  border-bottom-right-radius: $bodyRadius;
  box-shadow: 0 0 5px rgba(black, 0.3);

  @include whenNarrowerThan($compressedBreakpoint) {
    margin: 0 auto;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

  .bodyContent__inner {
    padding: 60px;
    color: #3A3A3A;

    @include whenNarrowerThan($condensedBreakpoint) {
      padding: 30px 42px 60px;
    }

    @include whenNarrowerThan($compressedBreakpoint) {
      padding: 20px 0 40px;
    }
  }

del {
  opacity: 0.75;
}

a {
  color: #109E3C;

  &:active,
  &:hover,
  &:visited {
    color: #109E3C;
  }

  &.heroLink {
    text-decoration: none;
    color: #34F570;

    &:active,
    &:hover,
    &:visited {
      color: #34F570;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
